node_modules/
build/
dist/
.cache/
*.exe
*.msi
*.dmg
*.AppImage
electron/node_modules/
tools/licensing-electron/node_modules/
tools/build-licenses/
Portable Punto de Venta/
PuntoDeVenta-Portable.zip
GeneradorLicencias-Portable.zip
temp-compress/
electron/package-lock.json
